# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

- chromedriver -> Chrome
- geckodriver -> Firefox

In [1]:
# Importando o selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# Criar o navegador
navegador = webdriver.Chrome()

# Passo 1 - Entrar no google
navegador.get('https://www.google.com')


# Passo 2 - Pesquisar a cotação do dolar
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
                      ).send_keys('cotação do dolar')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
                      ).send_keys(Keys.ENTER)

# Passo 3 - Pegar a cotação do dolar
dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]'
                      ).get_attribute('data-value')


# Passo 4 - Pegar a cotação do euro
navegador.get('https://www.google.com')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
                      ).send_keys('cotação do euro')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
                      ).send_keys(Keys.ENTER)

euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]'
                      ).get_attribute('data-value')


# Passo 5 - Pegar a cotação do ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje')
ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
ouro = ouro.replace(',','.')

navegador.quit()

print(dolar)
print(euro)
print(ouro)

5.4261
5.4399
298.26

### Agora vamos atualizar a base de dados com as novas cotações

In [2]:
# Passo 6 - Atualizar base de dados com as novas cotações
# Importar biblioteca
import pandas as pd

# Importando dataframe
tabela = pd.read_excel('Produtos.xlsx')
tabela

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.443500,5443.445565,1.40,7620.823791
1,Carro Renault,4500.00,Euro,5.453668,24541.508061,2.00,49083.016122
2,Notebook Dell,899.99,Dólar,5.443500,4899.095565,1.70,8328.462460
3,IPhone,799.00,Dólar,5.443500,4349.356500,1.70,7393.906050
4,Carro Fiat,3000.00,Euro,5.453668,16361.005374,1.90,31085.910211
5,Celular Xiaomi,480.48,Dólar,5.443500,2615.492880,2.00,5230.985760
6,Joia 20g,20.00,Ouro,298.430000,5968.600000,1.15,6863.890000

### Atualizando os preços e o cálculo do Preço Final

In [3]:
# Atualizar a cotação de acordo com a moeda correspondente

tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(dolar)
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(euro)
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(ouro)
tabela

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.4261,5443.445565,1.40,7620.823791
1,Carro Renault,4500.00,Euro,5.4399,24541.508061,2.00,49083.016122
2,Notebook Dell,899.99,Dólar,5.4261,4899.095565,1.70,8328.462460
3,IPhone,799.00,Dólar,5.4261,4349.356500,1.70,7393.906050
4,Carro Fiat,3000.00,Euro,5.4399,16361.005374,1.90,31085.910211
5,Celular Xiaomi,480.48,Dólar,5.4261,2615.492880,2.00,5230.985760
6,Joia 20g,20.00,Ouro,298.2600,5968.600000,1.15,6863.890000

In [4]:
# Atualizar preco de compra = preco original * cotação
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']

# Atualizar preco de venda = preco de compra * margem
tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']

tabela

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.4261,5426.045739,1.40,7596.464035
1,Carro Renault,4500.00,Euro,5.4399,24479.550000,2.00,48959.100000
2,Notebook Dell,899.99,Dólar,5.4261,4883.435739,1.70,8301.840756
3,IPhone,799.00,Dólar,5.4261,4335.453900,1.70,7370.271630
4,Carro Fiat,3000.00,Euro,5.4399,16319.700000,1.90,31007.430000
5,Celular Xiaomi,480.48,Dólar,5.4261,2607.132528,2.00,5214.265056
6,Joia 20g,20.00,Ouro,298.2600,5965.200000,1.15,6859.980000

### Exportando a base de dados atualizado

In [5]:
# Exportando os dados
tabela.to_excel('Produtos.xlsx', index=False)